<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles.css">
  <title>ChatterBox</title>
  <script type="html/template" id="chatTmpl">
  <article data-chatid="<%= _id %>">
  <h2><%= userId %></h2>
  <h3><%= message %></h3>
  </article>
  </script>
</head>
<body>
  <header>
    <h1>Chat In The Box</h1>
    <button id="logout">Logout</button>
  </header>
  <form action="" class="userId show">
    <div class="createUser">
      <input type="text" id="userInput" placeholder="What's your name?">
    </div>
    <button action="submit">Create</button>
  </form>
  <aside class="usersList">
    <ul>
      <li>activeUser</li>
    </ul>
  </aside>
  <div class="chatbox">
    <article>

    </article>
    <form id = "create" action="">
      <div>
        <h2 name="userId"> </h2>
      </div>
      <div class="message">
        <input type="text" name="message" placeholder="Type message here">
      </div>
      <button action="submit" name="send">Send</button>
    </form>
  </div>




  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="main.js"></script>
</body>
</html>
