body{
  margin: 0;
  padding: 0;
}

h1 {
  color: red;
  text-align: center;
}

h2{
  height:16px;
  color: blue;
  display: inline-block;
}

h3{
  color: green;
  display: inline-block;
}

aside {
  width: 20%;
  display: inline-block;
}

.chatbox {
  background: grey;
  width: 75%;
  display: none;
}

form{
  background: firebrick;
}

.userId {
  display: none;
}

.logout {
  display: none;
}

.show {
  display: block;
}
