$red: #e53d3d;
$darkred: #B22222;
$droid: 'Droid Serif', serif;


body{
  font-family: $droid;
  margin: 0;
  padding: 0;
  background: black;
}
.wrapper {
  width: 75%;
  margin: 0 0 0 5%;
}
aside{
  width: 25%;
  color: white;
  float: left;
  display: none;
}
ul{
  list-style-type: none;
  width: 100%;
  li{
    list-style-type: none;
  }
}
header {
  margin-top: 10%;
  min-height: 150px;
  background: black;
  .box{
    width: 100%;
    margin: 0 0 0 0;
    position: absolute;
    h4 {
      color: white;
      text-align: left;
      margin: 0 0 0 25px;
      ul{
      margin: 0;
      height: 100px;
      list-style-type: none;
    }
  }
}
}
.chevron {
  position: relative;
  text-align: center;
  margin: 0 0 0 30%;
  display: inline-block;
  height: 75px;
  width: 75px;
}

.chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: $darkred;
  -webkit-transform: skew(0deg, 35deg);
  -moz-transform: skew(0deg, 35deg);
  -ms-transform: skew(0deg, 35deg);
  -o-transform: skew(0deg, 35deg);
  transform: skew(0deg, 35deg);
}
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: $red;
  -webkit-transform: skew(0deg, -35deg);
  -moz-transform: skew(0deg, -35deg);
  -ms-transform: skew(0deg, -35deg);
  -o-transform: skew(0deg, -35deg);
  transform: skew(0deg, -35deg);
}


h1 {
  font-family: $droid;
  position: absolute;
  color: white;
  text-align: left;
  margin: 1% 0 0 24%;
}

h2{
  height:16px;
  color: grey;
  display: inline-block;
}

h3{
  color: black;
  display: inline-block;
}


aside {
  width: 20%;
  display: inline-block;
}

.chatbox {
  margin: 0 0 0 0;
  background: white;
  width: 100%;
  max-height: 500px;
  overflow: scroll;
  display: none;
  box-shadow: 3px 3px 7px grey;
}

form{
  background: $darkred;
  width: 100%;
  input{
    display: inline-block;
    width: 90%;
    margin: 1% 0 1% 1%;
  }
}
.sendMessage{
  display: none;
}
.logout {
  font-size: 20px;
  display: none;
  button{
    height: 100%;
    color: black;
    background: $red;
    display: inline-block;
  }
}

.userId {
  display: none;
}

#create {
  margin: 0 0 2% 0;
  input{
    display: inline-block;
  }
  button {
    margin: 0% 0 0% 2%;
    display: inline-block;
    background: $red;
    color: black;
  }
}

.fa .fa-minus {
  float: right;
  color: $red;
}
.show {
  display: inline-block;
}
